version: "3.8"

services:
  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_DATABASE: appdb

  backend:
    image: mohsincs/backend:latest
    restart: always
    depends_on:
      - mongo
    environment:
      MONGO_URL: mongodb://mongo:27017/appdb
      PORT: 8080
      NODE_ENV: production
    expose:
      - "8080"
    networks:
      - appnet

  frontend:
    image: mohsincs/frontend:latest
    restart: always
    depends_on:
      - backend
    expose:
      - "80"
    networks:
      - appnet

  nginx:
    image: nginx:stable-alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - appnet

volumes:
  mongo-data:

networks:
  appnet:
    driver: bridge
